mixin expenseForm(expense = {})
  form(action=`/addExpense/${expense._id || ''}` method="POST" class="card")
    label(for="name") Name
    input(type="text" name="name" value=expense.name)

    label(for="cost") Cost
    input(type="number" step="0.01" placeholder="0.00" name="cost")=expense.cost

    label(for="description") Description
    textarea(name="description", cols="20", rows="5")=expense.description

    input(type="submit" value="Save" class="button")
