mixin leftSideBar()
  .leftBar
    .leftBar__search
      form(action="#" method="POST")
        label(for="search") Search
        input(type="text" placeholder="Enter Symbol") 

    .leftBar__add
      a(href="/addExpense") Add Expense
  

